html{
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
body{
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	font-family: 'Josefin Sans', sans-serif;
    color: #022B3A;
    background: floralwhite;
}
#container{
	height: 450px;
	width: 350px;
	margin: 50px;
}
#intro, #description{
	    width: 70%;
	    margin-top: 20px;
}
#header {
	width: 350px;
	height: 450px;
	background: url(star_background.svg);
	border-radius: 15px;
	padding: 10px;
	background-size: cover;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 8fr;
	grid-template-areas: "title title" "root root";
	box-shadow: 0px 0px 4px 1px rgba(235,235,235,1);
	position: absolute;
	z-index: 10;	
     overflow: hidden;
}
#header h1{
	color: white;
    grid-area: title;
    z-index: 5;
    align-self: center;
}
#marsPlanet{
    width: 8em;
    grid-column: 2/-1;
    grid-row: 1/2;
}
#marsPlanetBig{
	position: absolute;
    width: 450px;
    align-self: flex-end;
    justify-self: center;
    transform: translate(0px, 356px);
}
#rover{
	width: 80px;
    position: absolute;
    align-self: flex-end;
    justify-self: center;
    z-index: 5;
    transform: translate(0, -81px);
}
.wheel{
	position: absolute;
    z-index: 5;
    width: 21px;
        top: 343px;
}
.wheel1{
    left: 144px;

}
.wheel2{

    left: 166px;
}
.wheel3{
	left: 188px;
}
/*==================================================*/
.meteor{
	position: absolute;
}
.meteor1{
    left: 142px;
    top: 111px;
	width: 160px;
}
.meteor2{
    left: 143px;
    top: 105px;
    width: 151px;

}
.meteor3{
	left: 172px;
    top: 119px;
    width: 148px;

}







#root {
	width: 350px;
	height: 450px;
	background: white;
	grid-area: root;
	border-radius: 15px;
	box-shadow:0px 0px 4px 1px rgba(235,235,235,1);
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: auto 1fr 1fr 1fr 1fr;
	grid-template-areas: "sol sol orbit" "calendar season season" "temperature temperature thermometer" "sand atmo atmo" "sunTime sunTime sunset";
	align-items: center;
	justify-items: center;
	position: absolute;
	transform: translate(20px, 20px);
	z-index: 5;
}
.orbit{
	grid-area: orbit;
    justify-self: flex-end;
    margin-top: 5px;
    height: 90px;
    border-bottom: solid 1px rgba(104, 145, 160, 0.4);

}
.sol{
    grid-area: sol;
    border-bottom: solid 1px rgba(104, 145, 160, 0.4);
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
}
.season{
	grid-area: season;
}
.temperature{
	grid-area: temperature;
}
.atmo{
	grid-area: atmo;
}
.sunTime{
	grid-area: sunTime;
}
.calendar{
	grid-area: calendar;
}
.thermometer{
	grid-area: thermometer;
}
.sand{
	grid-area: sand;
}
.sunset{
	grid-area: sunset;
}
.icon{
	height: 40px;
    opacity: 0.6;
}
.dataPoint{
	border-bottom: solid 1px rgba(104, 145, 160, 0.1);
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.point{
	letter-spacing: 0.2em;
}
dd{
    margin: 5px 0 10px 15px;
}
a:link{
	color: white;
	text-decoration: none;
}
a:hover{
	color: red;
}
a:visited{
	color: black;
}

/*=============SHOW CARD==========================*/

.headerDown{
	animation-duration: 300ms;
  	animation-name: headerDown;
  	animation-iteration-count: 1;
  	animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  	animation-fill-mode: forwards;
}

.rootUp{
	animation-duration: 300ms;
  	animation-name: rootUp;
  	animation-iteration-count: 1;
  	animation-timing-function:cubic-bezier(0.785, 0.135, 0.15, 0.86);
  	animation-fill-mode: forwards;
}

@keyframes	headerDown{
	0%{transform: translate(0px);}
	10%{transform: translate(-20px);}
	20%{transform: translate(-40px);}
	30%{transform: translate(-60px);}
	40%{transform: translate(-80px);}
	50%{transform: translate(-100px);}
	60%{transform: translate(-80px);}
	70%{transform: translate(-60px);}
	80%{transform: translate(-40px);}
	90%{transform: translate(-20px);}
	100%{
		transform: translate(0px);
		z-index: 5;
	}
}
@keyframes	rootUp{
	0%{transform: translate(20px, 20px);}
	10%{transform: translate(40px,20px);}
	20%{transform: translate(60px,20px);}
	30%{transform: translate(80px,20px);}
	40%{transform: translate(100px,20px);}
	50%{transform: translate(120px,20px);}
	60%{transform: translate(100px,20px);}
	70%{transform: translate(80px,20px);}
	80%{transform: translate(60px,20px);}
	90%{transform: translate(40px,20px);}
	100%{
		transform: translate(20px, 20px);
		z-index: 10;
	}
}



/*=============SHOW HEADER==========================*/

.headerUp{
	animation-duration: 300ms;
  	animation-name: headerUp;
  	animation-iteration-count: 1;
  	animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  	animation-fill-mode: forwards;
}

.rootDown{
	animation-duration: 300ms;
  	animation-name: rootDown;
  	animation-iteration-count: 1;
  	animation-timing-function:cubic-bezier(0.785, 0.135, 0.15, 0.86);
  	animation-fill-mode: forwards;
}

@keyframes	headerUp{
	0%{transform: translate(0px);}
	10%{transform: translate(-20px);}
	20%{transform: translate(-40px);}
	30%{transform: translate(-60px);}
	40%{transform: translate(-80px);}
	50%{transform: translate(-100px);}
	60%{transform: translate(-80px);}
	70%{transform: translate(-60px);}
	80%{transform: translate(-40px);}
	90%{transform: translate(-20px);}
	100%{
		transform: translate(0px);
		z-index: 10;
	}
}
@keyframes	rootDown{
	0%{transform: translate(20px, 20px);}
	10%{transform: translate(40px,20px);}
	20%{transform: translate(60px,20px);}
	30%{transform: translate(80px,20px);}
	40%{transform: translate(100px,20px);}
	50%{transform: translate(120px,20px);}
	60%{transform: translate(100px,20px);}
	70%{transform: translate(80px,20px);}
	80%{transform: translate(60px,20px);}
	90%{transform: translate(40px,20px);}
	100%{
		transform: translate(20px, 20px);
		z-index: 5;
	}
}


/*================PLANET ROTATION ON HOVER======================*/

.rotatePlanet{
	animation-duration: 8s;
  	animation-name: rotatePlanet;
  	animation-iteration-count: infinite;
  	animation-timing-function: linear;
  	animation-fill-mode: forwards;
}
@keyframes	rotatePlanet{
	0%{transform: translate(0px, 356px) rotate(0deg);}
	100%{transform: translate(0px, 356px) rotate(1turn);}
}
/*================WHEELS ROTATION======================*/
.rotateWheels{
	animation-duration: 8s;
  	animation-name: rotateWheels;
  	animation-iteration-count: infinite;
  	animation-timing-function: linear;
  	animation-fill-mode: forwards;
}
@keyframes	rotateWheels{
	0%{transform:  rotate(0deg);}
	100%{transform:  rotate(-1turn);}
}


/*======================METEOR SHOWER=======================*/

.meteorShower{
    animation-name: meteorShower;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.meteor1{
	animation-duration: 1.5s;
}
.meteor2{
	animation-duration: 1.7s;
}
.meteor3{
	animation-duration: 2s;
}


@keyframes	meteorShower{
	0%{transform: translate(260px, -138px);}
	100%{transform: translate(-173px, 98px); opacity: 0}
}